body {
		background: #22b473 ;


}


 .triangle-left {
    display: inline-block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 12.5px 21.7px 12.5px 0;
    border-color: transparent #ffffff transparent transparent;
}

#nav1
{  
    background-color:#F00; /*whichever you want*/
    opacity: 0.5; 
	filter:(opacity=50);       
}


.oval {
    padding: 10px;
    margin-top: 60px;
}


.sourceWord {
	margin-top: 25px;
}

.targetWord {
	margin-top: 30px;
}



.displayAsDiv {
	display:inline-block;
}



.smallfontsize {
    color: #cbcbcf;
    font-size:12px;
}



.vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 93.5vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}



.unbrokenInputBorder {
	    border: 1px;
    border-color: #bebebe;
    border-style: solid;
}






.wrong {
    border: 2px solid ;
    border-color: #ff0000;
}


.right {
    border: 2px solid ;
    border-color: #32ff00;
}