/* You can add global styles to this file, and also import other style files */


.hidden {
  visibility: hidden;
}
  .darkness
  {
    opacity: 0.4;
    pointer-events: none; 
    cursor: wait;
   
  }

  .loader
  {
    position:absolute;
    top:50%;
    left:50%;
    width: 100%;
    transform: translate(-50%,-50%);
    
  }

/*......56*/