.thisIsBody {
    /*       background: url(../../assets/img/black-and-white-black-and-white-card-1496146.jpg) no-repeat center center fixed;*/
           background: url(../../assets/img/black-and-white-black-and-white-fog-1061623.jpg) no-repeat center center fixed;
           min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
           min-height: 85vh; /* These two lines are counted as one :-)       */
           -webkit-background-size: cover;
           -moz-background-size: cover;
           -o-background-size: cover;
           background-size: cover;
   }
   

   .border-right
   {

   }


   .jounral_title
   {
    margin-bottom: 16px;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: .6px;
    color: #37383c;
    text-align: left;
    text-transform: uppercase;
   }

   .title
   {
       font-size:14px;
       text-align: center;
    }