

<app-top-menu></app-top-menu>


<body  class="thisIsBody">
<div class="container mt-3">

<div class="jounral_title mb-3">
<div class="">МОЙ ПРОГРЕСС</div>
</div>

<div class="block text-center">
    <div class="jounral_title">
        <div class="title">
        Сытость дельфина
    </div>
    </div>

    <div class="bg-white row">

        <div class="col-9 border-right p-5">

                        <div class="container-experience text-center bg-white  ">
                          <div class="control_size pt-4 pb-2 pl-4 pr-4">
                                <div class="mb-3 mt-2"><span class="mt-1 pt-1 text-good-style">Занимайся ещё 5 дней и получи суперприз!</span></div>

                            <div class="image_block d-flex justify-content-center" >
                  
                            <div class="block float-left m-2"> 
                              <div class="image"> <img src="../../assets/img/dolphi3.png" class="set-size_good_image" alt="..."></div>
                              <span class="text-good-style">День 1</span>
                            </div>
                  
                            <div class="block float-left m-2"> 
                                <div class="image"> <img src="../../assets/img/dolphi3.png" class="set-size_good_image" alt="..."></div>
                                <span class="text-good-style">День 2</span>
                              </div>
                  
                              <div class="block float-left m-2"> 
                                  <div class="image"> <img src="../../assets/img/dolphi3.png" class="set-size_good_image" alt="..."></div>
                                  <span class="text-good-style">День 3</span>
                                </div>
                  
                                <div class="block float-left m-2"> 
                                    <div class="image"> <img src="../../assets/img/dolphi3.png" class="set-size_good_image" alt="..."></div>
                                    <span class="text-good-style">День 4</span>
                                  </div>
                  
                  
                                  <div class="block float-left m-2"> 
                                      <div class="image"> <img src="../../assets/img/dolphi3.png" class="set-size_good_image" alt="..."></div>
                                      <span class="text-good-style">День 5</span>
                                    </div>

                            
                        </div>
                      </div>
                       </div>

        </div>

        <div class="col-3 p-5">
            <div class="container">
                <div class="row mx-0">   
                    <div class="col-sm-3 col-md-2 ">
                        <div class="progress" data-percentage="20">  <!--data-percentage only for those numbers which can be divided to 20 without rest-->
                            <span class="progress-left">
                                <span class="progress-bar"></span>
                            </span>
                            <span class="progress-right">
                                <span class="progress-bar"></span>
                            </span>
                            <div class="progress-value">
                                <div>
                                    1643<br>
                                    <span>До следующего уровня</span>
                                </div>
                            </div>
                        </div>
                    </div>                  
                </div>
            </div>

            <div class="next-level">Текущий уровень: <span class="level">47</span></div>

        </div>

    </div>
</div>














<div class="block text-center mt-4">
        <div class="jounral_title">
            <div class="title">
                    Слова
        </div>
        </div>
    
        <div class="bg-white row">
    
            <div class="col-9 border-right p-5">
    
                         <div class="container-experience text-center bg-white  ">                        
                                <div class="">
                                    <span>8733</span> 
                                    слова изучено
                                </div>

                                <div class="">
                                        <span>8733</span> 
                                        слова выявлено
                                </div>
                                    
                                <div class="">
                                    <span>8733</span> 
                                    слов на изучении
                                </div>

                           </div>
    
            </div>
    
            <div class="col-3 p-5">
               
                <div class="words">
                       <span> Cловарный запас</span>
                       <span> 8883</span>
                       <span> слова </span>
                </div>
    
            </div>
    
        </div>
    </div>










</div>
</body>
