
   .jounral_title
   {
    margin-bottom: 16px;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: .6px;
    color: #37383c;
    text-align: left;
    text-transform: uppercase;
   }

   .title
   {
       font-size:14px;
       text-align: center;
    }


    .styling
    {
        color: #af6cb3;
        font-weight: 300;
        line-height: 1;
    }

    .those-words
    {
    display: block;
    margin-bottom: -2px;
    font-size: 50px;
    }  

    .learned_words
    {
    display: block;
    font-size: 30px;
    font-weight: 300;
    }

    .align-in-row
{
    display: table-caption;
}

.display-flex
{
    display:flex;
}


.progress-words .text-block span
{
    display:block;
    margin-bottom: 12px;
    font-size: 50px;
    font-weight: 300;
    line-height: 1;
}

.progress-words .text-block b
{
display: block;
font-size: 14px;
font-weight: 300;
line-height: 20px;
}

.mt-12
{
    margin-top:1.2em;
}