

<!--Loader-->
<div [class.hidden]="!show" class=" loader text-center">
    <div class="spinner-border" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>
<!--....-->

<div [ngClass]="!show?'allOkey':'darkness'">
<app-top-menu></app-top-menu>

<body  class="thisIsBody set-height">




<div class="container mt-5 mb-5">

<div class="row">
       <h6>НАСТРОЙКИ</h6>
</div>

<div class="row">



  

<dl>
    <dt>Привет{{ logged_user_name }}
    <dd>
        <dt>Аккаунт
        <dd>
            <div class="mb-3"> 
                <div class="email_change ">Email:{{ logged_email }} </div>
                <div class="password_change pt-1">Пароль: {{ logged_password }} </div>
            </div>
       
           
       
        <dt>Часовой пояс
        <dd>
            <form (ngSubmit)="changeTimeZone(singupForm)" #singupForm="ngForm">
                    <div class="form-group float-left d-flex mr-2">                      
                    
                    <select class="form-control" id="preference.timezone"
                    required
                    [(ngModel)]="model.preference.timezone" name="preference.timezone"
                    #preference.timezone="ngModel">

                    <option *ngFor="let pow of powers" [value]="pow">{{pow}}</option>
                </select>
                          </div>

            <button type="submit" class="btn btn-secondary">Submit</button>
            
        </form>



      </dl>
            



</div>



</div>

</body>

<app-bottom-menu></app-bottom-menu>
</div>