<app-top-menu></app-top-menu>

<body  class="thisIsBody set-height">

<div class="container mt-5 mb-5">

<div class="row">
       <h6>НАСТРОЙКИ</h6>
</div>

<div class="row">


<dl>
        <dt>Аккаунт
        <dd>
            <div class="mb-3"> 
                <div class="email_change ">Email:BestJavaDeveloper24@gmail.com</div>
                <div class="password_change pt-1">Пароль:*********</div>
            </div>
       
       
        <dt>Часовой пояс
        <dd>
            <div class="mb-3">
                    <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              Dropdown button
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                              <a class="dropdown-item" href="#">Action</a>
                              <a class="dropdown-item" href="#">Another action</a>
                              <a class="dropdown-item" href="#">Something else here</a>
                            </div>
                          </div>
            </div>



        <dt>Словарь
        <dd>
            <div class="mb-3">
                <a class="btn btn-primary btn-lg active" role="button"  (click)="generateDictionary()">Добавить словарь в базу данных</a>
            </div>



        <dt>Язык
        <dd>
                <div class="mb-3">
                        <div class="dropdown">
                                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                  Dropdown button
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                  <a class="dropdown-item" href="#">Action</a>
                                  <a class="dropdown-item" href="#">Another action</a>
                                  <a class="dropdown-item" href="#">Something else here</a>
                                </div>
                              </div>
                </div>

        <dt>Страна
        <dd>
                <div class="mb-3">
                        <div class="dropdown">
                                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                  Dropdown button
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                  <a class="dropdown-item" href="#">Action</a>
                                  <a class="dropdown-item" href="#">Another action</a>
                                  <a class="dropdown-item" href="#">Something else here</a>
                                </div>
                              </div>
                </div>

      </dl>
            


</div>




</div>
</body>

<app-bottom-menu></app-bottom-menu>
