<div class="outer-container">
<div class="container text-center pt-5">


<div class="align-top height-90vh">
<div class="title-error text-white text-bold">
<span class="font-size-100">401</span>
</div>
<div class="describe text-white">Чтобы получить доступ к сайту <br> необходимо зарегистрировать <br> или войти в свой аккаунт.</div>
</div>


<div class="navbar-fixed-bottom row-fluid ">
        <div class="navbar-inner">
            <div class="container">

        <div class="pb-3"><button type="button" routerLink="/login" class="btn btn-outline-light">Войти</button></div>
        <div><a role="button" routerLink="/registration" class="btn btn-outline-light ml-2">Зарегистрироваться</a></div>

        </div>
    </div>
</div> 


</div>



</div>




