

<!--Loader-->
<div [class.hidden]="!show" class=" loader text-center">
    <div class="spinner-border" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>
<!--....-->

<div [ngClass]="!show?'allOkey':'darkness'">


<html>
<app-top-menu></app-top-menu>
<body  class="thisIsBody">
    



  <!--Alert about  adding 10 words-->

  <div aria-live="polite" aria-atomic="true" style="position: relative;">
    <!-- Position it -->
    <div style="position: absolute; top: 0; right: 0;" class="pt-4">
     
        
      <div class="toast mr-2" *ngFor="let time of times" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header">
          <div class="bg-grey rounded-circle mr-2">
          <img src="../../assets/img/dolphi3.png" class="set-size_good_image" alt="...">
          </div>
          <strong class="mr-auto">Dolphi</strong>
         <!-- <small class="text-muted">just now3</small> -->
          <button type="button" class="ml-2 mb-1 close" (click)="dismissToastMessage()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="toast-body">
          Добавлено 10 слов в словарь
        </div>
      </div>
    
    
    
    </div>
  </div>

<!--....-->


<div class="container pt-5">
<!--  *ngIf="emptyDictionary == true"    -->
    
<!-- Button trigger modal -->

<button type="button" id="modalClick" style="display:none;" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
  Launch demo modal
</button>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">В словаре нет слов</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body ">
       <div class="text-center">
               <a role="button" data-dismiss="modal" data-toggle="modal" data-target="#exampleModal" (click)="getTenWordsToDictionary()" class="btn btn-primary mt-2 text-white">Добавить 10 наиболее встречающихся слов</a>
               <button type="button" data-dismiss="modal" class="btn btn-primary mt-2 mb-2">Добавить слова из историй</button>
      </div>
      
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Вернуться</button>

      </div>
    </div>
  </div>
</div>
    
    



<!-- We need ue this href, it related with carousel, ngb.. -->
<a href="/training" id="GoToDashBoard" style="display:none;">Exit</a>









<div class="container">


  <div class="row">
  <div class="header-block"><span>Тренировки</span></div>
  </div>

  <div class="row">


    <div class="col-3 pl-0">
     <a (click)="training()" >
      <div class="training_block good-border-image background_1 font-size-12">
          <h5 class="card-title text-white">Тренировка слов</h5>
          <p class="card-text delete-margin-padding text-white">{{ learn  || '0'}} слов на изучении</p>
          <p class="card-text delete-margin-padding text-white"> {{ later || '0' }} слов на повторении</p>       
        </div>
       </a>
      </div>

    <div routerLink="/pageIsCurrentBusy" class="col-3">
      <a  class="story" >
        <div class="training_block good-border-image background_2 text-center text-white pt-5">
              <h5 class="font-weight-bold ">Истории</h5>
          </div>
      </a>
    </div>

        
     <div class="col-6">

      <div class="container-experience text-center bg-white pb-4">
        <div class="control_size pt-4 pb-2 pl-4 pr-4">
          <div class="mb-3 mt-2"><span class="mt-1 pt-1 text-good-style">Занимайся ещё 5 дней и получи суперприз!</span></div>

          <!--<div class="cross-dark-line"></div>-->
          <div class="progress">
              <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
            </div>

          <div class="image_block d-flex justify-content-between" >

          <div class="block float-left"> 
            <div class="image"> <img src="../../assets/img/dolphi3.png" class="set-size_good_image" alt="..."></div>
            <span class="text-good-style">День 1</span>
          </div>

          <div class="block float-left "> 
              <div class="image"> <img src="../../assets/img/dolphi3.png" class="set-size_good_image" alt="..."></div>
              <span class="text-good-style">День 2</span>
            </div>

            <div class="block float-left"> 
                <div class="image"> <img src="../../assets/img/dolphi3.png" class="set-size_good_image" alt="..."></div>
                <span class="text-good-style">День 3</span>
              </div>

              <div class="block float-left"> 
                  <div class="image"> <img src="../../assets/img/dolphi3.png" class="set-size_good_image" alt="..."></div>
                  <span class="text-good-style">День 4</span>
                </div>


                <div class="block float-left"> 
                    <div class="image"> <img src="../../assets/img/dolphi3.png" class="set-size_good_image" alt="..."></div>
                    <span class="text-good-style">День 5</span>
                  </div>

          </div>


          
      </div>
    </div>
     </div>

  </div>



  <div class="row mt-4">
      <div class="header-block mb-0"><span>Истории</span></div>
  </div>


  <div class="row">
      <div class="opacity05"><span>Самое популярное</span></div>
  </div>
  

<div class="row mt-2 ">

    <div routerLink="/pageIsCurrentBusy" class="col-3 pl-0 ">
        <div class="training_block good-border-image background_material_1 min-height-20 text-white pt-5 d-flex align-items-end">
          <div class="">
              <h5 class="font-size-14">Жюль Верн «Двадцать тысяч лье под водой»</h5>
              <span class="text-small ">4 страницы</span>
            </div>
          </div>
        </div>

        <div routerLink="/pageIsCurrentBusy" class="col-3">
            <div class="training_block good-border-image background_material_2  min-height-20 text-center text-white pt-5 d-flex align-items-end" >
                <div class="">
                  <p class="font-size-14">Джонатан Свифт «Путешествия Гулливера»</p>
                  <span class="text-small">22 страницы</span>
                  </div>
              </div>
            </div>

            <div routerLink="/pageIsCurrentBusy" class="col-3">
                <div class="training_block good-border-image background_material_3 min-height-20 text-center text-white pt-5 d-flex align-items-end">
                    <div class="">
                      <h5 class="font-size-14">Мэри Шелли «Франкенштейн, или Современный Прометей»</h5>
                      <span class="text-small">0.5 страницы</span>
                      </div>
                  </div>
                </div>

                <div routerLink="/pageIsCurrentBusy" class="col-3">
                    <div class="training_block good-border-image background_material_4 min-height-20 text-center text-white pt-5 d-flex align-items-end">
                        <div class="">
                          <h5 class="font-size-14">Уильям Гибсон «Нейромант»</h5>
                          <span class="text-small">9 страницы</span>
                         </div>
                        </div>
                    </div>
  

</div>
















</div> <!--container end-->












              </div>  

</body>



</html>

</div>

<app-bottom-menu></app-bottom-menu>
