

<!--Loader-->
<div [class.hidden]="!show" class=" loader text-center">
    <div class="spinner-border" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>
<!--....-->

<div [ngClass]="!show?'allOkey height-104':'darkness height-104'">
<app-top-menu></app-top-menu>



<div class="container standard_height mt-5 mb-5">

<div class="row">
       <h6>НАСТРОЙКИ</h6>
</div>

<div class="row">



  

<dl>
    <dt>Admin cabinet
    <dd>

       
        <dt>Часовой пояс
        <dd>
            <div class="mb-3">
                    <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              Dropdown button
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                              <a class="dropdown-item" href="#">Action</a>
                              <a class="dropdown-item" href="#">Another action</a>
                              <a class="dropdown-item" href="#">Something else here</a>
                            </div>
                          </div>
            </div>



        <dt>Словарь
        <dd>
            <div class="mb-3">
                <button [disabled]="!show? '': 'disabled'"  class="btn btn-primary btn-lg active" (click)="generatEngDictionary()">Generate English Dictionary</button>
            </div>

            <div class="mb-3">
              <button [disabled]="!show? '': 'disabled'"  class="btn btn-primary btn-lg active" (click)="generateGermDictionary()">Generate German Dictionary</button>
          </div>

          <div class="mb-3">
            <button [disabled]="!show? '': 'disabled'"  class="btn btn-primary btn-lg active" (click)="generateRusnDictionary()">Generate Russian Dicitonary</button>
        </div>



        <dt>Язык
        <dd>
                <div class="mb-3">
                        <div class="dropdown">
                                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                  Dropdown button
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                  <a class="dropdown-item" href="#">Action</a>
                                  <a class="dropdown-item" href="#">Another action</a>
                                  <a class="dropdown-item" href="#">Something else here</a>
                                </div>
                              </div>
                </div>

        <dt>Страна
        <dd>
                <div class="mb-3">
                        <div class="dropdown">
                                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                  Dropdown button
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                  <a class="dropdown-item" href="#">Action</a>
                                  <a class="dropdown-item" href="#">Another action</a>
                                  <a class="dropdown-item" href="#">Something else here</a>
                                </div>
                              </div>
                </div>

      </dl>
            



</div>



</div>



</div>


<app-bottom-menu></app-bottom-menu>