
.table {
	    width: 1px;
}

.table td.fit, 
.table th.fit {
    white-space: nowrap;
    width: 1%;
}

.not_learned_class
{
    background: #b60b32;
}

.learned_class
{
	background: #00ab1d;
}

.thisIsBody {
	/*       background: url(../../assets/img/black-and-white-black-and-white-card-1496146.jpg) no-repeat center center fixed;*/
		   background: url(../../assets/img/black-and-white-black-and-white-fog-1061623.jpg) no-repeat center center fixed;
		   min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
		   min-height: 86vh; /* These two lines are counted as one :-)       */
		   -webkit-background-size: cover;
		   -moz-background-size: cover;
		   -o-background-size: cover;
		   background-size: cover;
   }