
.table {
	    width: 1px;
}

.table td.fit, 
.table th.fit {
    white-space: nowrap;
    width: 1%;
}

.not_learned_class
{
    background: #b60b32;
}

.learned_class
{
	background: #00ab1d;
}

.standard-height-body
{
	height:93%;
}