


 <!--User exist-->

<!-- Button trigger modal -->
<button type="button" id="userExist" class="btn btn-primary d-none" data-toggle="modal" data-target="#exampleModal">
  Launch demo modal
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Пользователь существует</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        К сожалению пользователь с таким email уже существует. Вы можете восстановить пароль, нажав кнопку внизу "Восстановить пароль"
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Восстановить пароль</button>
      </div>
    </div>
  </div>
</div>

<!--....-->




<div class="bg-dark-green h-100-vh">
<div class="container">

  <div class="h-100-vh d-flex align-items-center row justify-content-center pt-5 pb-5">
  <div class=" col-5">
      <div class="card card-signin my-5">
      <div class="card-body bg-white">
    <h1 class="text-center pt-2 card-title">Регистрация</h1>
    <form (ngSubmit)="onSubmit(singupForm)" class="p-4" #singupForm="ngForm">
      <div class="form-group">
        <label for="username">Никнейм</label>
        <input type="text" class="form-control" id="username" required 
        [(ngModel)]="model.username" name="username" #username="ngModel">
      <div [hidden]="username.valid || username.pristine"
     	class="alert alert-danger">
       Никнейм обязателен
  	   </div>
      </div>

      <div class="form-group">
        <label for="email">e-mail</label>
        <input type="text" class="form-control" id="email" required
       [(ngModel)]="model.email" name="email" #email="ngModel">
        <div [hidden]="email.valid || email.pristine"
     	class="alert alert-danger">
       e-mail обязателен
  	   </div>
      </div>

      <div class="form-group">
        <label for="password">Пароль</label>
        <input type="text" class="form-control" id="password" required
       [(ngModel)]="model.password" name="password" #password="ngModel">
        <div [hidden]="password.valid || password.pristine"
     	class="alert alert-danger">
       Пароль обязателен
  	   </div>
      </div>
      
      <div class="form-group">
        <label for="confirmPassword">Подтверждение пароля</label>
        <input type="text" class="form-control" id="confirmPassword" required
       [(ngModel)]="model.confirmPassword" name="confirmPassword" #confirmPassword="ngModel">
        <div [hidden]="confirmPassword.valid || confirmPassword.pristine"
     	class="alert alert-danger">
       Подтверждение пароля обязательно
  	   </div>
      </div>

      <re-captcha (resolved)="resolved($event)" siteKey="6Lc2l7UUAAAAAKx5rCNhd4Q1I0TdSfoFTijXIrFi"></re-captcha>
      
      <button type="submit" class="btn btn-success mt-3" [disabled]="!singupForm.form.valid || !check_recaptcha">Submit</button>
    </form>
    </div>
    </div>
  </div>
</div>


  </div>
</div>