

<!--Loader-->
<div [class.hidden]="!show" class=" loader text-center">
  <div class="spinner-border" role="status">
    <span class="sr-only">Loading...</span>
  </div>
</div>
<!--....-->

 <!--User exist-->

<!-- Button trigger modal -->
<button type="button" id="userExist" class="btn btn-primary d-none" data-toggle="modal" data-target="#exampleModal">
  Launch demo modal
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Пользователь существует</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        К сожалению пользователь с таким email уже существует. Вы можете восстановить пароль, нажав кнопку внизу "Восстановить пароль"
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" routerLink="restore-password/email" data-dismiss="modal" class="btn btn-primary">Восстановить пароль</button>
      </div>
    </div>
  </div>
</div>

<!--....-->


<app-top-menu-before-authetication></app-top-menu-before-authetication>

<div class="bg-dark-green">
<div class="container h-100">


  
  <div class="h-100 d-flex align-items-center row justify-content-center ">
  <div class="col-5">
      <div class="card card-signin my-5">
      <div class="card-body bg-white">
    <h1 class="text-center pt-2 card-title">Регистрация</h1>
    <form (ngSubmit)="onSubmit(singupForm)" class="p-4" #singupForm="ngForm">
      <div class="form-group">
        <label for="username">Никнейм</label>
        <input type="text" class="form-control" id="username" required 
        [(ngModel)]="model.username" name="username" #username="ngModel">
      <div [hidden]="username.valid || username.pristine"
     	class="alert alert-danger">
       Никнейм обязателен
  	   </div>
      </div>

      <div class="form-group">
        <label for="email">e-mail</label>
        <input type="email" class="form-control" id="email" required
       [(ngModel)]="model.email" name="email" #email="ngModel" pattern="[a-zA-Z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$">
    
       
       <div [hidden]="email.valid"
     	class="alert alert-danger">
       Пожалуйста включите в емайл "@" и дополните типом майла, например:
       email@gmail.com
       </div>

       <div [hidden]="email_not_exist"
     	class="alert alert-danger">
       Такой емайл уже существует
  	   </div>
      </div>

      <div class="form-group">
        <label for="password">Пароль</label>
        <input type="password" class="form-control" id="password" required
       [(ngModel)]="model.password" name="password" #password="ngModel">
        <div [hidden]="password.valid || password.pristine"
     	class="alert alert-danger">
       Пароль обязателен
       </div>   

       <div [hidden]="model.password === model.confirmPassword"
     	class="alert alert-danger">
       Пароли не совпадают. Необходимо ввести одинаковые пароли в оба поля.
       </div>

      </div>
      
      <div class="form-group">
        <label for="confirmPassword">Подтверждение пароля</label>
        <input type="password" class="form-control" id="confirmPassword" required
       [(ngModel)]="model.confirmPassword" name="confirmPassword" #confirmPassword="ngModel">
        <div [hidden]="confirmPassword.valid || confirmPassword.pristine"
     	class="alert alert-danger">
       Подтверждение пароля обязательно
       </div>
      </div>

      <div class="form-group">
        <label for="preference.timezone">Страна</label>

        <select class="form-control" id="preference.timezone"
        required
        [(ngModel)]="model.preference.timezone" name="preference.timezone"
        #preference.timezone="ngModel">
  <option *ngFor="let pow of powers" [value]="pow">{{pow}}</option>
</select>

      </div>

 

      <re-captcha  (resolved)="resolved($event)" siteKey="6Lc2l7UUAAAAAKx5rCNhd4Q1I0TdSfoFTijXIrFi"></re-captcha>
      
      <button type="submit" class="btn btn-success mt-3" [disabled]="!singupForm.form.valid || !check_recaptcha">Submit</button>
    </form>
       <div></div>
    </div>
    </div>
  </div>
</div>


  </div>
</div>