.ng-valid[required], .ng-valid.required  {
    border-left: 5px solid #42A948; /* green */
  }
  
  .ng-invalid:not(form)  {
    border-left: 5px solid #a94442; /* red */
  }
  
  
  .bg-dark-green 
  {
    background: #22b473;
    height:105%;
  }
  
  
  body, html
  {
    height:100%;
  }
  
