.changefont {
	font-size:18px;
}

* {
    font-family: Geneva, Arial, Helvetica, sans-serif;
}

.weight-font {
    font-weight: 550;
}

.text-dark-green {
color: #008000;
}


.shadow {
-webkit-box-shadow: 1px 1px 1px 1px #ccc;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
-moz-box-shadow:    1px 1px 1px 1px #ccc;   /* Firefox 3.5 - 3.6 */
box-shadow:         1px 1px 1px 1px #ccc;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}

.sizeTop {
    height: 9vh;
}


.hidhlight-current-choosen
{
    background-color: #41a141;
    border-radius: 10%!important;
}

.background-border-color
{
    border-radius: 50%;
    background-color: #007f00;
}