<div class="TopMenu">

	<nav class="navbar navbar-expand-lg navbar-light bg-white shadow">
      <div class="container-fluid">


          <a class="navbar-brand" routerLink="/">
          <img src="assets/img/dolphi-darkgreen-whitebackground.png" width="36" height="36" class="d-inline-block align-top" alt="">
         </a>
          <a class="navbar-brand text-dark-green" routerLink="/">Dolphi</a>

    <ul class="navbar-nav mr-auto mt-2 mt-lg-0 ">
      <li  [ngClass]="current_choosen_top_menu_button==='dashboard'? 'nav-item active hidhlight-current-choosen':'nav-item' ">
        <a [ngClass]="current_choosen_top_menu_button==='dashboard'? 'nav-link text-body-50 weight-font text-white':'nav-link text-body-50 weight-font' " routerLink="/dashboard" href="#">Тренировки <span class="sr-only">(current)</span></a>
      </li>
      <li [ngClass]="current_choosen_top_menu_button==='dictionary'? 'nav-item active hidhlight-current-choosen':'nav-item'">
        <a [ngClass]="current_choosen_top_menu_button==='dictionary'? 'nav-link text-body-50 weight-font text-white':'nav-link text-body-50 weight-font'" routerLink="/dictionary">Словарь</a>
      </li>
      <li [ngClass]="current_choosen_top_menu_button==='progress'? 'nav-item active hidhlight-current-choosen':'nav-item'">
        <a [ngClass]="current_choosen_top_menu_button==='progress'? 'nav-link text-body-50 weight-font text-white':'nav-link text-body-50 weight-font'"  routerLink="/progress" href="#" tabindex="-1" aria-disabled="true">Прогресс</a>
    </li>
    <li [ngClass]="current_choosen_top_menu_button==='tv'? 'nav-item active hidhlight-current-choosen':'nav-item'">
      <a [ngClass]="current_choosen_top_menu_button==='tv'? 'nav-link text-body-50 weight-font text-white':'nav-link text-body-50 weight-font'"  routerLink="/tv" href="#" tabindex="-1" aria-disabled="true">ТВ</a>
  </li>
    </ul>
  
    <span class="navbar-text">
    <div *ngIf="role === 'User'">   
       <a (click)="goUserCabinet()" class="navbar-brand" >
        <img src="../../assets/img/account.png" width="36" height="36" [ngClass]="current_choosen_top_menu_button==='cabinet'? 'd-inline-block align-top background-border-color':'d-inline-block align-top'" alt="">
       </a>
    </div>

  </span>
  
    <span class="navbar-text">
      <div *ngIf="role === 'Admin'">   
         <a (click)="goAdminCabinet()" class="navbar-brand" >
          <img src="../../assets/img/account.png" width="36" height="36" [ngClass]="current_choosen_top_menu_button==='cabinet'? 'd-inline-block align-top background-border-color':'d-inline-block align-top'" alt="">
         </a>
      </div>

  </span>



      </div>
</nav>

</div>
