

<div class="container-fluid thereisimage ">

<div class="container-fluid border-1">
<div class="container">
<nav class="navbar navbar bg-transparent border-1">

 
  <a class="navbar-brand text-primary " href="#">
    <img src="assets/img/dolphi2.png" width="40" height="40" class="align-baseline d-inline-block align-top" alt="">

	<span class="changefonttopmenu text-white align-baseline">Dolphi</span>
  </a>    
      
<div>
     <button type="button" routerLink="login" class="btn btn-outline-light">Войти</button>
   <a role="button" routerLink="registration" class="btn btn-outline-light ml-2">Зарегистрироваться</a>
   <button type="button" class="btn btn-outline-light ml-2" (click)="logout()">LogOut</button>

</div>    
    
</nav>
</div>
</div>

<div class="container mb-10em">


<div class="container mt-5 mb-5 " >

<div class="row justify-content-center"><h1 class="text-white">Изучай языки бесплатно</h1></div>
<div class="row justify-content-center"><p class="text-white">Всегда бесплатно, изучай по видео, грамматические тесты, безлимитное количество слов</p></div>

<!-- <div class="row justify-content-center mt-2"><button type="button" class="btn btn-primary btn-primary btn-lg">Learn more</button></div> -->
<!--<div class="row justify-content-center mt-5 "><button type="button" class="btn  btn-outline-light btn-lg  ">Log into your Account</button></div>-->
<div class="row justify-content-center mt-4 mb-5"><a role="button" routerLink="dashboard" class="btn  btn-outline-light btn-lg ">Тренироваться</a></div>

</div>




</div>



<div class="container mt-5 mb-2 paddingFromBotton">


  <div class="text-center ">
      <div class="">
       <div class="row no-gutters">
      <div class="col-md-4 padding-10">
        <img src="../../assets/img/world-white.png" height="60" width="80" class="float-right" alt="...">
      </div>
      <div class="col-md-6">
        <div class="card-body float-left text-white">
            <h5 class="card-title float-left">Изучай из любой точки мира</h5>
            <br/>
          <p class="card-text float-left">Ты можешь учиться из любой точки мира.</p>
        </div>
      </div>
     </div>
      </div>
    </div>

    <div class="text-center mt-2 ,b-2">
        <div class="">
         <div class="row no-gutters">
        <div class="col-md-4 padding-10">
          <img src="../../assets/img/experience-white.png" height="60" width="80" class="float-right" alt="...">
        </div>
        <div class="col-md-6">
          <div class="card-body float-left text-white">
              <h5 class="card-title float-left">Зарабатывай опыт</h5>
              <br/>
              <p class="card-text float-left">Зарабатывай опыт, получай уровни.</p>
          </div>
        </div>
       </div>
        </div>
      </div>

      <div class="text-center mt-2 ,b-2">
          <div class="">
           <div class="row no-gutters">
          <div class="col-md-4 padding-10 ">
            <img src="../../assets/img/stairs-white.png" height="60" width="80" class="float-right" alt="...">
          </div>
          <div class="col-md-6">
            <div class="card-body float-left text-white">
                <h5 class="card-title">Оставайся мотивированным</h5>
                <p class="card-text float-left">Получаешь результат в деталях.</p>
            </div>
          </div>
         </div>
          </div>
        </div>

        <div class="text-center mt-2 ,b-2">
            <div class="">
             <div class="row no-gutters">
            <div class="col-md-4 padding-10">
              <img src="../../assets/img/awards-white.png" height="60" width="80" class="float-right" alt="...">
            </div>
            <div class="col-md-6">
              <div class="card-body float-left text-white">
                  <h5 class="card-title float-left">Зарабатывай награды.</h5>
                  <br/>
                  <p class="card-text float-left">Получай награды. Зарабатывай достижения.</p>
              </div>
            </div>
           </div>
            </div>
          </div>



</div>  





<footer class="navbar-fixed-bottom page-footer font-small blue footer">
   
    
  <!-- Copyright -->
  <div class="footer-copyright text-center py-3 shadow text-white">© 2018 Copyright:
         <a href="https://mdbootstrap.com/education/bootstrap/" class="text-white"> dolphi.com</a>
       </div>
       <!-- Copyright -->
 
 </footer>
 

</div>





