



<!-- Button trigger modal -->
<button type="button" id="messageIcon" class="btn btn-primary d-none" data-toggle="modal" data-target="#exampleModal">
  Launch demo modal
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">{{ title_message }}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        {{ message }}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!--....-->


<!--Loader-->
<div [class.hidden]="!show" class=" loader text-center">
  <div class="spinner-border" role="status">
    <span class="sr-only">Loading...</span>
  </div>
</div>
<!--....-->

<app-top-menu-before-authetication></app-top-menu-before-authetication>
<div class="bg-dark-green">
        <div class="container h-100">
        
          <div class="h-100 d-flex align-items-center row justify-content-center pt-5 pb-5">
          <div class=" col-5">
              <div class="card card-signin my-5">
              <div class="card-body bg-white">
            <h1 class="text-center pt-2 card-title">Вход</h1>
            <form (ngSubmit)="onSubmit(singupForm)" class="p-4" #singupForm="ngForm">
        
              <div class="form-group">
                <label for="email">e-mail</label>
                <input type="text" class="form-control" id="email" required
               [(ngModel)]="model.email" name="email" #email="ngModel">
                <div [hidden]="email.valid || email.pristine"
                 class="alert alert-danger">
               e-mail обязателен
                 </div>
              </div>
        
              <div class="form-group">
                <label for="password">Пароль</label>
                <input type="password" class="form-control" id="password" required
               [(ngModel)]="model.password" name="password" #password="ngModel">
                <div [hidden]="password.valid || password.pristine"
                 class="alert alert-danger">
               Пароль обязателен
                 </div>
              </div>
      
              <div *ngIf="failed_login_invalid_password_email"
              class="alert alert-danger">
            Пароль или емайл не верны.
              </div>


              <div *ngIf="failed_login_may_be_user_does_not_exist"
              class="alert alert-danger">
              Пользователь с таким емайлом не существует
              </div>

              <div *ngIf="failed_login_disabled_user"
              class="alert alert-danger">
              К сожалению пользователь отключен, похоже вы терорист или что-то типо того. Если не согласны можете написать в службу поддержки, сюда.
              </div>
              

              <button type="submit" class="btn btn-success" [disabled]="!singupForm.form.valid">Submit</button>
            </form>
            </div>
            </div>
          </div>
        </div>
        
        
          </div>
        </div>