<html  [ngClass]="isLoading?'loading_class' : 'normmal_state'">
<app-top-menu></app-top-menu>
<body  class="thisIsBody">
    

    <div *ngIf="isLoading" class="spinner-grow text-success loader_by_center_location_and_more_size" role="status">
        <span class="sr-only">Loading...</span>
      </div>


  <!--Alert about  adding 10 words-->

  <div aria-live="polite" aria-atomic="true" style="position: relative;">
    <!-- Position it -->
    <div style="position: absolute; top: 0; right: 0;" class="pt-4">
     
        
      <div class="toast mr-2" *ngFor="let time of times" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header">
          <div class="bg-grey rounded-circle mr-2">
          <img src="../../assets/img/dolphi3.png" class="set-size_good_image" alt="...">
          </div>
          <strong class="mr-auto">Dolphi</strong>
         <!-- <small class="text-muted">just now3</small> -->
          <button type="button" class="ml-2 mb-1 close" (click)="dismissToastMessage()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="toast-body">
          Добавлено 10 слов в словарь
        </div>
      </div>
    
    
    
    </div>
  </div>

<!--....-->


<div class="container pt-5">
<!--  *ngIf="emptyDictionary == true"    -->
    
<!-- Button trigger modal -->

<button type="button" id="modalClick" style="display:none;" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
  Launch demo modal
</button>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">В словаре нет слов</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body ">
       <div class="text-center">
               <a role="button" data-dismiss="modal" data-toggle="modal" data-target="#exampleModal" (click)="getTenWordsToDictionary()" class="btn btn-primary mt-2 text-white">Добавить 10 наиболее встречающихся слов</a>
               <button type="button" data-dismiss="modal" class="btn btn-primary mt-2 mb-2">Добавить слова из историй</button>
      </div>
      
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Вернуться</button>

      </div>
    </div>
  </div>
</div>
    
    
        <a (click)="gotoProductDetails()" >
        <div class="card bg-dark text-white text-color changeByHover">
                <img src="../../assets/img/bridge.jpeg" class="card-img size" alt="...">
                <div class="card-img-overlay">
                  <h5 class="card-title">Тренировка слов</h5>
                  <p class="card-text">Ты можешь добавлять слова из книг или же получить рандомный набор слов. Чтобы добавить слова из книги выбери тренировку ниже. Чтобы получить 10 рандомныx слов нажми на меня</p>
                  <p class="card-text text-dark">{{ learn  || '0'}} слов на изучении</p>
                  <p class="card-text text-dark"> {{ later || '0' }} слов на повторении</p>
                  <p class="card-text text-dark"> {{ learned || '0' }} cлов изучено</p>
                  
                </div>
              </div>
        </a>

          <a href='reviewBooks' >
              <div class="card bg-dark text-white mt-3 changeByHover0">
                    <img src="../../assets/img/book-707389_1920.jpg" class="card-img size"  alt="...">
                    <div class="card-img-overlay">
                      <h5 class="card-title">Книги на английском</h5>
                      <p class="card-text">Ты можешь читать книги на английском, смотреть перевод слова в один клик. Автоматическое добавление в словарь незнакомых слов. После чтения ты можешь тренировать незнакомые слова.</p>
                    </div>
                  </div>
                </a>      
</div>  

</body>

<app-bottom-menu></app-bottom-menu>

</html>