.thisIsBody {
 /*       background: url(../../assets/img/black-and-white-black-and-white-card-1496146.jpg) no-repeat center center fixed;*/
        background: url(../../assets/img/black-and-white-black-and-white-fog-1061623.jpg) no-repeat center center fixed;
        min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
        min-height: 85vh; /* These two lines are counted as one :-)       */
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
}


.size {
        height: 25vh;
}

.text-color {
        color: #575757 !important;
}


.changeByHover:hover {
 background-color: #fbff0b !important; 
}

.changeByHover0:hover {
        background: #00f007 !important;
}


.location_fixed_same_beautiful_classes {
position: fixed;
    top: 0;
    left: 0;
    max-width: 500px;
    margin: 1.75rem auto;
    margin-top: 8em;
    margin-left: auto;
    margin-right: auto;
    left: 70%;
}

.toast 
{
        opacity:1;
}