.bg-dark-green {
    background: #22b473 ;
}

.remove_border
{
outline: 0;
}


.wrong {
    border: 2px solid ;
    border-color: #ff0000;
}


.right {
    border: 2px solid ;
    border-color: #32ff00;
}

.smallfontsize {
    color: #cbcbcf;
    font-size:12px;
}

.unbrokenInputBorder {
    border: 1px;
border-color: #bebebe;
border-style: solid;
}


.setting_height
{
    height:100%;
    height:100vh;
}